.principal {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  form {
    border: solid 2px #005695;
    border-radius: 15px;
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div {
      color: #005695;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    input {
      width: 80%;
      height: 5vh;
      border: solid 2px #005695;
      border-radius: 10px;
      outline: none;
      padding-left: 20px;
      &::placeholder {
        color: black;
        font-size: 15px;
      }
    }
  }
}

input:nth-child(6) {
  width: 40%;
  height: 6vh;
  padding-left: 0;
  background-color: #005695;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

@media(max-width: 1070px) {
  
  form {
    width: 350px;
  }
}

@media(max-width: 650px) {
  .container {
    height: 90vh;
    h2 {
      font-size: 20px;
    }
  }

  .principal {
    height: auto;
  }
}

@media(max-width: 450px) {

  form {
    width: 75vw;
    div {
      img {
        width: 13vw;
      }
      h3 {
        font-size: 4.5vw;
      }
    }
  }
}